/* welcome */
.hero-section {
    background: linear-gradient(135deg, #198754 0%, #20c997 100%);
    color: white;
    padding: 120px 0;
    text-align: center;
}

.feature-icon {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

/* login/register */
.auth-body {
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

/* dashboard */
.btn-custom {
    background-color: #198754;
    color: white;
    font-weight: bold;
}
.btn-custom:hover {
    background-color: #157347;
    color: white;
}

.navbar-custom { 
    background-color: #198754; 
}

.dashboard-card { 
    transition: transform 0.2s; 
    cursor: pointer; 
}

.dashboard-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}